{% extends 'base.html' %}
{% block page_content_title %}
    任务编排
{% endblock %}

{% block page_nav_tab %}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">服务管理</li>
        <li class="active">容器管理</li>
    </ol>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div style="margin: 10px 0px 10px 10px">
                        {#                <div style="margin: 10px 0px 10px 0">#}
                        <div class="col-sm-2" style="margin: 0 0 10px  0">
                            <a>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-add">同步服务
                                </button>

                            </a>
                        </div>
                        {#                </div>#}
                        <a>{{ yml }}</a>
                        <div>

                            <table class="table table-bordered table-hover dataTable"
                                   role="grid">

                                <thead>
                                <tr role="row">
                                    {#                                    <th>主机</th>#}
                                    <th>服务</th>
                                    <th>状态</th>
                                    <th>端口</th>
                                    <th>节点</th>
                                    <th>镜像</th>
                                    <th>CPU</th>
                                    <th>内存</th>
                                    <th>数量</th>
{#                                    <th>挂载卷</th>#}
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                            <button id="command_submit" class="btn btn-primary"
                                    style="width: 60pt; font-size: medium;" onclick="GetServieStatus(this)">执行
                            </button>
                        </div>
                    </div>

                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">执行结果</h3>
                </div>
                <div class="box-body ">
            <pre id="cmd-res" class="pre-code">

            </pre>
                </div>
            </div>
        </div>

    </div>        <!-- nav-tabs-custom -->

{% endblock %}


{% block js %}
    <script>
        function fmtDate(inputTime) {
            var date = new Date(inputTime);
            {#var y = date.getFullYear();#}
            var m = date.getMonth() + 1;
            m = m < 10 ? ('0' + m) : m;
            var d = date.getDate();
            d = d < 10 ? ('0' + d) : d;
            var h = date.getHours();
            h = h < 10 ? ('0' + h) : h;
            var minute = date.getMinutes();
            {#var second = date.getSeconds();#}
            minute = minute < 10 ? ('0' + minute) : minute;
            {#second = second < 10 ? ('0' + second) : second;#}
            return  m + '-' + d + ' ' + h + ':' + minute ;

        }

        $(document).ready(function () {
            $.getJSON("http://192.168.1.194:5000/api/service", function (callback) {
                var obj = callback
                for (var item in obj) {
                    {#var host = obj[item].host;#}
                    var name = obj[item].name;
                    var state = obj[item].state;
                    {#if (obj[item].state == 'Up') {#}
                    {#    var state = '<img src="{{ url_for('static', filename='img/ok.png') }}" stytle="width: 20px;height: 20px;">'#}
                    {#}#}
                    {#else {#}
                    {#    var state = '<img src="{{ url_for('static', filename='img/red.png') }}" stytle="width: 20px;height: 20px;">'#}
                    {#}#}
                    {#;#}
                    var constraints = obj[item].constraints;
                    var image = obj[item].image;
                    var cpus = obj[item].cpus;
                    var memory = obj[item].memory;
                    var ports = obj[item].ports;
                    var replicas = obj[item].replicas;
                    var volumes = obj[item].volumes;
                    var update_date = obj[item].update_date;
                    var timestamp = Date.parse(update_date);
                    var date = fmtDate(timestamp);
                    var html = "<tr>" + "<td>" + name + "</td>" + "<td>" + state + "</td>" + "<td>" + ports + "</td>" + "<td>" + constraints + "</td>" + "<td>" + image + "</td>" + "<td>" + cpus + "</td>" + "<td>" + memory + "</td>" + "<td>" + replicas + "</td>" + "<td>" + date + "</td>" + "<td id=" + item + ">" + "<a " + 'class="btn btn-app"  onclick="Start(this)"' + "><i class=" + '"fa fa-play"' + "></i></a>" + "<a " + 'class="btn btn-app" onclick="Stop(this)"' + "><i class=" + '"fa fa-stop"' + "></i></a>" + "<a " + 'class="btn btn-app" onclick="Restart(this)"' + "><i class=" + '"fa fa-repeat"' + "></i></a>"
                    $("tbody").append(html)
                }
            });
            $.getJSON("http://192.168.1.194:5000/api/assets", function (callback) {
                for (var item in callback) {
                    tmp = "<option>" + callback[item]['hostname'] + "</option>";
                    $('#id_host').append(tmp)
                }
            })
        });

        function AnsibleRun(obj) {
            $.ajax({
                url: "http://192.168.1.194:5000/api/ansible",
                type: 'POST',
                data: JSON.stringify({
                    "type": "playbook",
                    "hostname": $('#id_host').val(),
                    "book": $('#id_playbook').val()
                }),
                success: function (callback) {
                    $('#cmd-res').text(callback);
                }
            })
        }

        function Start(obj) {
            if (confirm("确定启动该服务?")) {
                $.ajax({
                    url: "http://192.168.1.194:5000/api/ansible",
                    type: 'POST',
                    data: JSON.stringify({
                        "type": "cmd",
                        "ip": $(obj).parent().siblings().first().text(),
                        "args": "cd /root/docker && docker-compose up -d " + $(obj).parent().siblings().eq(1).text()
                    }),
                    success: function (callback) {
                        var html = '<img src="{{ url_for('static', filename='img/ok.png') }}" stytle="width: 20px;height: 20px;">'
                        $(obj).parent().siblings().eq(2).html("");
                        $(obj).parent().siblings().eq(2).append(html);
                    }
                })
            }


        }

        function Stop(obj) {
            if (confirm("确定停止该服务?")) {

                $.ajax({
                    url: "http://192.168.1.194:5000/api/ansible",
                    type: 'POST',
                    data: JSON.stringify({
                        "type": "cmd",
                        "ip": $(obj).parent().siblings().first().text(),
                        "args": "cd /root/docker && docker-compose stop " + $(obj).parent().siblings().eq(1).text()
                    }),
                    success: function (callback) {
                        var html = '<img src="{{ url_for('static', filename='img/red.png') }}" stytle="width: 20px;height: 20px;">'
                        $(obj).parent().siblings().eq(2).html("");
                        $(obj).parent().siblings().eq(2).append(html);
                    }
                })
            }
        }

        function Restart(obj) {
            if (confirm("确定重启该服务?")) {

                var svc = $(obj).parent().siblings().eq(1).text();
                $.ajax({
                    url: "http://192.168.1.194:5000/api/ansible",
                    type: 'POST',
                    data: JSON.stringify({
                        "type": "cmd",
                        "ip": $(obj).parent().siblings().first().text(),
                        "args": "cd /root/docker && docker-compose stop " + svc + " && cd /root/docker && docker-compose rm --force  " + svc + " && cd /root/docker && docker-compose up -d  " + svc
                    }),
                    success: function (callback) {
                        var html = '<img src="{{ url_for('static', filename='img/ok.png') }}" stytle="width: 20px;height: 20px;">'
                        $(obj).parent().siblings().eq(2).html("");
                        $(obj).parent().siblings().eq(2).append(html);
                    }
                })
            }
        }

        function GetServieStatus(obj) {
            $.ajax({
                url: "http://192.168.1.194:5000/api/ansible",
                type: 'POST',
                data: JSON.stringify({
                    "type": "service",
                    "hostname": $('#id_host').val(),
                    "cmd": "cd /opt/docker && docker-compose ps"
                }),
                success: function (callback) {
                    var obj = callback
                    console.log(obj);
                    for (var item in obj) {
                        var state = obj[item].state;
                        var port = obj[item].port;


                        var html = "<tr>" + "<td>" + item + "</td>" + "<td>" + state + "</td>" + "<td>" + port + "</td>" + "<td id=" + item + ">" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-play"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-stop"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-repeat"' + "></i></a>"
                        $("tbody").append(html)
                    }
                }
            })
        }
    </script>
{% endblock %}