{% extends 'base.html' %}
{% block page_content_title %}
    项目管理
{% endblock %}

{% block page_nav_tab %}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">项目管理</li>
        <li class="active">域名列表</li>
    </ol>
{% endblock %}
{% block page_content %}

    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="alert alert-success alert-dismissible hidden" id="success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Success!</h4>
                    添加设备成功,5s后自动返回!!!
                </div>
                <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="detail">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="detail">域名详情</h3>
                            </div>
                            <div class="modal-body detail" style="margin: 10px">
                                <p>
                                    <label for="id_name">名称:</label>
                                    <span id="id_name"></span>
                                </p>
                                <hr>
                                <p>
                                    <label for="id_url">URL:</label>
                                    <span id="id_url"></span>
                                </p>
                                <hr>
                                <p>
                                    <label for="id_ip">IP:</label>
                                    <span id="id_ip"></span>
                                </p>
                                <hr>
                                <p>
                                    <label for="id_memo">备注:</label>
                                    <span id="id_memo"></span>

                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default" style="width: 60pt" data-dismiss="modal">
                                    返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="myModalLabel">编辑详情</h3>
                            </div>
                            <div class="modal-body detail" style="margin: 10px">
                                <p>
                                    <label for="id_domain">ID:</label>
                                    <a id="id_domain"></a>
                                </p>
                                <p>
                                    <label >名称:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="name">
                                </p>
                                <p>
                                    <label for="id_hostname">URL:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="url">
                                </p>
                                <p>
                                    <label for="id_hostname">IP:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="ip">
                                </p>
                                <p>
                                    <label for="id_hostname">备注:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="memo">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" style="width: 60pt" data-dismiss="modal"
                                        onclick="Update(this)">提交
                                </button>
                                <button type="submit" class="btn btn-default" style="width: 60pt" data-dismiss="modal">
                                    返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="add">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="add">添加域名</h3>
                            </div>
                            <div class="modal-body detail" style="margin: 10px">
                                <p>
                                    <label for="id_hostname">名称:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="new_name">
                                </p>
                                 <p>
                                    <label for="id_hostname">域名:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="new_url">
                                </p>
                                 <p>
                                    <label for="id_hostname">IP:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="new_ip">
                                </p>
                                <p>
                                    <label for="id_hostname">备注:</label>
                                    <input type="text" name="hostname" style="width:500px;height: 20px"
                                           maxlength="50" required="" placeholder="必填项"
                                           class="form-control" id="new_memo">
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" style="width: 60pt" data-dismiss="modal"
                                        onclick="Add(this)">提交
                                </button>
                                <button type="submit" class="btn btn-default" style="width: 60pt" data-dismiss="modal">
                                    返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div style="margin: 10px 0px 10px 0">
                        <div class="col-sm-2" style="padding-left: 0">
                            <a>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-add">添加产品线
                                </button>

                            </a>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover dataTable"
                           role="grid"
                           aria-describedby="example2_info">

                        <thead>
                        <tr role="row">
                            <th>ID</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>IP</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $.getJSON("http://192.168.1.194:5000/api/domain", function (callback) {
                for (var item in callback) {
                    var name = callback[item].name;
                    var url = callback[item].url;
                    var ip = callback[item].ip;
                    var memo = callback[item].memo;
                    var html = "<tr>" + "<td>" + item + "</td>" + "<td>" + '<a href="#"><li style="list-style-type:none" onclick="Detail(this)"' + "value=" + item + ">" + name + "</li></a>" + "</td>"+ "<td>" + url + "</td>" + "<td>" + ip + "</td>" +  "<td>" + memo + "</td>" +
                            "<td id=" + item + ">" + " <a id=" + item + " " + 'class="fa fa-edit" onclick="Edit(this)"  style="margin: 3px"data-toggle="modal"data-target="#modal-edit" type="button"></a> <a class="fa fa-refresh" style="margin: 3px"></a> <a class="fa fa-remove" style="margin: 3px" onclick="Del(this)"></a>' + "</td>" + "</tr>"
                    $("tbody").append(html)

                }
            });


        });

        function Detail(obj) {
            var id = $(obj).val()
            $.ajax({
                url: "http://192.168.1.194:5000/api/domain/" + id,
                type: 'GET',
                success: function (data) {
                    $("#modal-detail").modal();
                    var obj = data[id]
                    console.log(obj)
                    $('#id_name').text(obj.name);
                    $('#id_url').text(obj.url);
                    $('#id_ip').text(obj.ip);
                    $('#id_memo').text(obj.memo);
                }
            })

        }

        function Edit(obj) {
            var id = $(obj).attr('id')
            $.ajax({
                url: "http://192.168.1.194:5000/api/domain/" + id,
                type: 'GET',
                success: function (data) {
                    var obj = data[id]
                    console.log(obj)
                    $('#id_domain').text(id);
                    $('#name').val(obj.name);
                    $('#url').val(obj.url);
                    $('#ip').val(obj.ip);
                    $('#memo').val(obj.memo);
                }
            })

        }
        function Update(obj) {
            var id = $("#id_domain").text()
            console.log('put' + id)
            $.ajax({
                url: "http://192.168.1.194:5000/api/domain/" + id,
                type: 'PUT',
                data: JSON.stringify({
                    "name": $('#name').val(),
                    "ip": $('#ip').val(),
                    "url": $('#url').val(),
                    "memo": $('#memo').val(),

                }),
                success: function (data) {
                    console.log('ok')
                    window.location.reload()
                }
            })


        }


        function Add(obj) {
            {#$("#modal-edit").modal();#}
            $.ajax({
                url: "http://192.168.1.194:5000/api/domain",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({
                    "name": $('#new_name').val(),
                    "url": $('#new_url').val(),
                    "ip": $('#new_ip').val(),
                    "memo": $('#new_memo').val()
                }),
                success: function (data) {
                    $('#success').removeClass('hidden');
                    location.reload();

                }
            })
        }

        function Del(obj) {
            if (confirm("确定删除?")) {
                var id = $(obj).parent().attr('id')
                $('#del_asset').removeClass('hidden');
                $.ajax({
                    url: "http://192.168.1.194:5000/api/domain/" + id,
                    type: 'DELETE',
                    success: function (data) {
                        console.log('ok')
                        location.reload()

                    }
                })
            }
        }

    </script>
{% endblock %}