{% extends 'base.html' %}
{% block page_content_title %}
    任务编排
{% endblock %}

{% block page_nav_tab %}
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">服务管理</li>
        <li class="active">容器管理</li>
    </ol>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div style="margin: 10px 0px 10px 10px">
                        {#                <div style="margin: 10px 0px 10px 0">#}
                        <div class="col-sm-2" style="margin: 0 0 10px  0">
                            <a>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-add">同步服务
                                </button>

                            </a>
                        </div>
                        {#                </div>#}
                        <a>{{ yml }}</a>
                        <div>
                            <label for="id_type">选择主机:</label>
                            <select name="asset_host" class="select2-dropdown" id="id_host">
                                <option value="" selected="">---------</option>

                            </select>

                            <table class="table table-bordered table-hover dataTable"
                                   role="grid">

                                <thead>
                                <tr role="row">
                                    <th>主机</th>
                                    <th>服务</th>
                                    <th>状态</th>
                                    <th>端口</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                            <button id="command_submit" class="btn btn-primary"
                                    style="width: 60pt; font-size: medium;" onclick="GetServieStatus(this)">执行
                            </button>
                        </div>
                    </div>

                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">执行结果</h3>
                </div>
                <div class="box-body ">
            <pre id="cmd-res" class="pre-code">

            </pre>
                </div>
            </div>
        </div>

    </div>        <!-- nav-tabs-custom -->

{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $.getJSON("http://scm.joy.com/api/service", function (callback) {
                var obj = callback
                console.log(obj);
                for (var item in obj) {
                    var host = obj[item].host;
                    var name = obj[item].name;
                    var state = obj[item].state;
                    var port = obj[item].port;
                    var update_date = obj[item].update_date;
                    var html = "<tr>" + "<td>" + host + "</td>" + "<td>" + name + "</td>" + "<td>" + state + "</td>" + "<td>" + port + "</td>" + "<td>" + update_date + "</td>" + "<td id=" + item + ">" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-play"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-stop"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-repeat"' + "></i></a>"
                    $("tbody").append(html)
                }
            });
            $.getJSON("http://scm.joy.com/api/assets", function (callback) {
                for (var item in callback) {
                    console.log(item);
                    tmp = "<option>" + callback[item]['hostname'] + "</option>";
                    $('#id_host').append(tmp)
                }
            })
        });
        function AnsibleRun(obj) {
            $.ajax({
                url: "http://scm.joy.com/api/ansible",
                type: 'POST',
                data: JSON.stringify({
                    "type": "playbook",
                    "hostname": $('#id_host').val(),
                    "book": $('#id_playbook').val()
                }),
                success: function (callback) {
                    $('#cmd-res').text(callback);
                }
            })
        }
        function GetServieStatus(obj) {
            $.ajax({
                url: "http://scm.joy.com/api/ansible",
                type: 'POST',
                data: JSON.stringify({
                    "type": "service",
                    "hostname": $('#id_host').val(),
                    {#                    "hostname": 'all',#}
                    "cmd": "cd /opt/docker && docker-compose ps"
                }),
                success: function (callback) {
                    var obj = callback
                    console.log(obj);
                    for (var item in obj) {
                        var state = obj[item].state;
                        var port = obj[item].port;


                        var html = "<tr>" + "<td>" + item + "</td>" + "<td>" + state + "</td>" + "<td>" + port + "</td>" + "<td id=" + item + ">" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-play"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-stop"' + "></i></a>" + "<a " + 'class="btn btn-app"' + "><i class=" + '"fa fa-repeat"' + "></i></a>"
                        $("tbody").append(html)
                    }
                }
            })
        }
    </script>
{% endblock %}